/* Other rules */
.container {
  background-color: #f3f5f5;
  display: flex;
  flex-wrap: wrap;
}

.header {
  margin-left: 120px;
  background-color: white;
}

.header img {
  width: 155px;
  height: 85px;
  margin-bottom: 30px;
}

.title {
  margin-left: 120px;
  display: flex;
  flex-direction: row;
}

.title img {
  width: 350px;
  height: 197px;
  border-radius: 5px;
}

.text-tittle {
  width: 820px;
  height: 183px;
  margin-right: 40px;
  margin-bottom: 70px;
}
.text-tittle h1 {
  margin-bottom: 49px;
  font-size: 32px;
  font-weight: bold;
}

.text-tittle h2 {
  font-size: 22px;
  color: #868a8a;
}

.container-categories {
  margin-left: 120px;
}

.container-categories h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 20px;
}

.container-categories img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.container-meals {
  display: flex;
  margin-right: 20px;
  width: 840px;
  flex-wrap: wrap;
  border-radius: 5px;
}

.container-meal {
  background-color: white;
  display: flex;
  width: calc(50% - 60px);
  height: 140px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px 15px 15px;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
}

.container-meal:hover {
  box-shadow: 3px 3px 5px 6px rgb(236, 234, 234);
}

.container-meal h3 {
  font-size: 18px;
  font-weight: medium;
  margin-bottom: 10px;
  color: black;
  flex: 50%;
}

.container-meal-text {
  font-size: 14px;
  line-height: 17px;
  color: #808484;
}

#price {
  margin-top: 10px;
  font-size: 17px;
}

.image-meal {
  margin-left: 20px;
  border-radius: 5px;
  object-fit: cover;
}

.price-popular {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star {
  margin-top: 6px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: rgb(255, 166, 0);
  font-weight: bold;
}

.cart {
  background-color: white;
  border-radius: 5px;
  width: 350px;
  height: 184px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 975px;
  top: 400px;
}

.cart-green {
  background-color: white;
  border-radius: 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 975px;
  top: 400px;
}

.cart-green-title {
  background-color: #02cdbd;
  font-size: 16px;
  line-height: 13px;
  font-weight: bold;
  width: 330px;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  color: white;
}

.cart p {
  color: #868a8a;
  font-size: 17px;
  margin-top: 64px;
  line-height: 13px;
}

.cart-title {
  background-color: rgb(186, 195, 195);
  font-size: 16px;
  line-height: 13px;
  font-weight: bold;
  width: 330px;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  color: #8b9a9b;
}

.item-in-cart {
  margin-top: 30px;
  height: 35px;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #787e7e;
}

.plus-quantity-minus span {
  font-size: 16px;
  line-height: 13px;
  color: #787e7e;
  margin-right: 5px;
}

.icon {
  background-color: none;
  color: #02cdbd;
  cursor: pointer;
}

#box-title {
  margin-left: 10px;
}

.sous-total {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 17px;
  line-height: 13px;
  color: #787e7e;
  margin-top: 13px;
  margin-bottom: 15px;
}

.total {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  line-height: 16px;
  color: black;
  margin-top: 20px;
  margin-bottom: 18px;
}

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
